// For Result page
.main-results{

	width: 60%;
	margin:auto;


	.book-item{
		display: block;
		position: relative;
		//background: red;
		padding:5px 0px;
		overflow: none;
		border-bottom: 1px solid #ccc;

		img{
			float: left;
			width:100px;
			margin-right: 10px;
			padding-left: 0px;
			
		}

		.book-details{
			width: 45%;
			float:right;
			h2{
				margin-top: 5px;
				margin-bottom: 5px;
			}
			
		}

	}

}