
<h1><a href="#">BookSearch</a></h1>
<div class="row">
	<div class="col-md-8">
		<div>
			<form class="form" ng-submit="hitSearch()">
				<div class="form-group">
					<input type="text" ng-model="search_term" class="form-control" />
				</div>
				<div class="form-group">
				<button ng-click="hitSearch()"  ng-show="search_term" type="submit" class="btn btn-success" >Search Book</button>
				</div>
			</form>
			
		</div>
		<p class="alert alert-danger" ng-show="!total && searched"> No books found.</p>
		<p class="alert alert-info" ng-show="total && searched"> Results :{{total}} </p>

		<!-- Pagination -->
		<nav>
		  <ul class="pagination" ng-repeat="page in pages">
		    <li><a href="#/search/{{search_term}}/{{page}}">{{page}}</a></li>
		  </ul>
		</nav
		<!-- End Pagination -->
		<ul ng-repeat="book in books">

	<div class="media">
	  <a class="media-left media-middle" href="#book/{{book.ID}}">
	    <img height="80px"  ng-src="{{book.Image}}" alt="...">

	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><a class="media-left media-middle" href="#book/{{book.ID}}">{{book.Title}}</a></h4>
	      {{book.Description}}
	  </div>
	</div>
</ul>
	</div>
</div>