

<div class="row" >
	<section class="main-results">

	<div>
		<span us-spinner  spinner-key="bs-load-details" spinner-start-active="true"></span>
	</div>
	<div  ng-show="book">
		<div class="col-md-3">
			<img class="img-responsive" ng-src="{{book.Image}}" alt="{{book.Title}}">
			<p class="container-fluid">
				
				<a class="btn btn-primary btn-block" href="">Download</a>
				
			</p>
		</div>
		<div class="col-md-9">
			<h3>{{book.Title}}</h3>
		<p >
			{{book.Description}}
		</p>
		<p>
			<table class="table table-bordered">
				<tr>
					<td>Author</td>
					<td>{{book.Author}}</td>
				</tr>
				<tr>
					<td>Publisher</td><td>{{book.Publisher}}</td>
				</tr>
				<tr>
					<td>Year</td><td>{{book.Year}}</td>
				</tr>
				<tr>
					<td>ISBN</td><td>{{book.ISBN}}</td>
				</tr>
				<tr>
					<td>Pages</td><td>{{book.Page}}</td>
				</tr>
			</table>
		</p>
		</div>
		
	</div>
		
	</section>
	
</div>
