<div class="row" >
	<!-- <div class="form-inline">
		<input type="text" class="form-control" ng-model="q">
	</div> -->
	<div>
		<span us-spinner  spinner-key="spinner-1" spinner-start-active="true"></span>
	</div>

	<div class="main-results">
				

				<div class="book-item row" ng-repeat="book in data.Books">
					<img class="col-md-3" ng-src="{{book.Image}}">
					<p class="book-details col-md-6">
						<h3><a href="#/book/{{book.ID}}">{{book.Title}}</a></h3>
						{{book.Description}}
					</p>
				</div>
	</div>
</div>
